<div class = "" data-ng-controller="UserController">
	<a class="btn btn-primary" ng-click="redirectToProfile()"> Back To Your Profile </a>
	<hr>
	<h2> Add some Feeds </h2>    
<div class="box text-center">    
  <div class="col-xs-8 col-md-4">Cooking Light Entertainment<h1><span class="glyphicon glyphicon-glass"></span></h1><a class="btn btn-info" ng-click="addFeed('Cooking Light Entertaining', 'http://feeds.cookinglight.com/CookingLight/Entertaining')"> Add Feed </a>
</div>   
  <div class="col-xs-8 col-md-4">EatingWell's Blog<h1><span class="glyphicon glyphicon-pencil"></span></h1><a class="btn btn-info" ng-click="addFeed('EatingWell\'s Blog', 'https://feeds.feedburner.com/EatingwellBlogs-AllBlogPosts')"> Add Feed </a>
</div>  
  <div class="col-xs-8 col-md-4">EatingWell's 'Let's Make it Tonight'<h1><span class="glyphicon glyphicon-cutlery"></span></h1><a class="btn btn-info" ng-click="addFeed('EatingWell\'s Lets\' Make It Tonight', 'https://feeds.feedburner.com/eatingwell_make_it_tonight')"> Add Feed </a>
</div>
</div>
<div class="box text-center">
  <div class="col-xs-8 col-md-4">Cooking Light Eating Smart<h1><span class="glyphicon glyphicon-apple"></span></h1><a class="btn btn-success" ng-click="addFeed('Cooking Light Eating Smart', 'http://feeds.cookinglight.com/CookingLight/EatingSmart')"> Add Feed </a>
</div>
  <div class="col-xs-8 col-md-4">EpiCurious' New Recipes<h1><span class="glyphicon glyphicon-list"></span></h1><a class="btn btn-success" ng-click="addFeed('EpiCurious New Recipes', 'http://feeds.epicurious.com/newrecipes')"> Add Feed </a>
</div>
  <div class="col-xs-8 col-md-4">Taste of Home<h1><span class="glyphicon glyphicon-home"></span></h1><a class="btn btn-success" ng-click="addFeed('Taste of Home', 'http://rss.tasteofhome.com/feed-taste-of-home.rss')"> Add Feed </a>
</div>
</div>
<div class="box text-center">
  <div class="col-xs-8 col-md-4">Cooking Light's Cooking 101<h1><span class="glyphicon glyphicon-education"></span></h1><a class="btn btn-danger" ng-click="addFeed('Cooking Light\'s Cooking 101', 'http://feeds.cookinglight.com/CookingLight/Cooking101')"> Add Feed </a>
</div>
  <div class="col-xs-8 col-md-4">Simply Recipes Vegetarian<h1><span class="glyphicon glyphicon-tree-deciduous"></span></h1><a class="btn btn-danger" ng-click="addFeed('Simply Recipes Vegitarian', 'https://feeds.feedburner.com/SimplyRecipesVegetarian')"> Add Feed </a>
</div>
  <div class="col-xs-8 col-md-4">Simply Recipes Low Carb<h1><span class="glyphicon glyphicon-heart"></span></h1><a class="btn btn-danger" ng-click="addFeed('Simply Recipes Low Carb', 'https://feeds.feedburner.com/SimplyRecipesLowCarb')"> Add Feed </a>
</div>
</div>
</div>
